<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hu.bookmarker.api.book.mapper.IBookMapper">

  <select id="selectBookInfo" parameterType="hu.bookmarker.api.book.model.BookDTO" resultType="hu.bookmarker.api.book.model.BookDTO">
  /* IBookMapper.selectBookInfo : 도서 정보 조회 */
  SELECT BOOK_SRNO
       , TITLE
       , AUTHOR
       , PUBLISHER
       , PUBLISHED_DATE
       , ISBN
       , IMAGE
       , DESCRIPTION
       , REG_DTM
    FROM BOOKS
   WHERE ISBN = #{isbn}
  </select>

  <insert id="insertBookInfo" parameterType="hu.bookmarker.api.book.model.BookDTO" useGeneratedKeys="true" keyProperty="bookSrno">
  /* IBookMapper.insertBookInfo : 도서 정보 등록 */
  INSERT INTO BOOKS (
         TITLE
       , AUTHOR
       , PUBLISHER
       , PUBLISHED_DATE
       , ISBN
       , IMAGE
       , DESCRIPTION
       , REG_DTM
  ) VALUES (
         #{title}
       , #{author}
       , #{publisher}
       , #{publishedDate}
       , #{isbn}
       , #{image}
       , #{description}
       , NOW()
  )
  </insert>

</mapper>